<div class="app">
  <div class="wrapper">

    <!-- <h1>{{title}}</h1> -->
    <app-header class="header"></app-header>
    <app-user-input class="input"></app-user-input>
    <app-output-test></app-output-test>
    <div class="results-container">
      <app-weather class="weather"></app-weather>
      <app-map-display class="map"></app-map-display>

    </div>
    <app-footer></app-footer>
    <!-- <app-refresh-results-button></app-refresh-results-button> -->
  </div>
</div>


<router-outlet></router-outlet>
