.wrapper {
  /* background-color: azure; */
  /* border-radius: 10px; */
  /* padding: 0; */
  /* width: 40vw; */
  text-transform: capitalize;
  /* height:50vh; */
  /* min-height: 425px; */
  vertical-align: middle;

}

h1 {
  display: inline;
  font-size: 35px;
}

h2 {
  display: inline;
}

@media (max-width: 1000px) {}

img {
  padding-right: 2%;
}

.parent {
  padding: 5%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.temp,
.high,
.low,
.wind,
.hum {
  /* border: solid 2px black; */
  padding-left: 20%;
  padding-top: 2%;
}

.temp {
  grid-area: 1 / 1 / 2 / 2;
}

.high {
  grid-area: 2 / 1 / 3 / 2;
}

.low {
  grid-area: 3 / 1 / 4 / 2;
}

.wind {
  grid-area: 4 / 1 / 5 / 2;
}

.hum {
  grid-area: 5 / 1 / 6 / 2;
}

.location,
.desc {
  padding-right: 50%;
}

.location {
  padding-top: 15%;
  grid-area: 1 / 2 / 3 / 3;
  /* border: solid 2px black; */
  text-align: center;
}

.desc {
  padding-top: 15%;
  grid-area: 3 / 2 / 6 / 3;
  /* border: solid 2px black; */
  text-align: center;
}
