<div class="wrapper">
    <div class = "header">
        <h1><strong>{{city}}</strong></h1>
    </div>
    <div class = "bottom">
    <div class = 'stats'>
        <img class="thermo" src="../assets/icons/thermostat.png">&emsp;
        <p>{{current_temp}}° F</p>
        <img class="high" src="../assets/icons/up_arrow.png">&emsp;
        <p>{{high_temp}}° F</p>
        <img class="low" src="../assets/icons/down_arrow.png">&emsp;
        <p>{{low_temp}}° F</p>
    </div>
    <div class = "icon">
        <h3>{{weather}} ({{weather_description}})</h3>
        <img class = "imgIcon" src="http://openweathermap.org/img/wn/{{icon_id}}@2x.png" />
    </div>
    </div>
</div>
