<div class="wrapper">
    <!-- Place: {{place}} -->
    <!-- ({{lat}} N, {{lon}} W) -->
    <img class="loc" src="../assets/icons/location.png"><h1>{{place}}</h1>
    <br><br>
    <img class="thermo" src="../assets/icons/thermostat.png">&emsp;
    <h2>{{current_temp}}</h2>
    <br><br>
    <img class="high" src="../assets/icons/up_arrow.png">&emsp;
    <h2>{{high_temp}}</h2>
    <br><br>
    <img class="low" src="../assets/icons/down_arrow.png">&emsp;
    <h2>{{low_temp}}</h2>
    <br><br>
    <h2>{{weather_description}}</h2>

    <!-- <p>Current Temperature: {{current_temp}}</p> -->
    <!-- <p> High: {{high_temp}} </p>
    <p> Low: {{low_temp}}</p>
    <p> Weather: {{weather}} ({{weather_description}})</p> -->
</div>
