<p>top of input test</p>

<form #userInputForm="ngForm" (ngSubmit)="submit(userInputForm.value)">
  <div class="radio">
    <label>
      <input type="radio" name="placeType" value=city checked ngModel>City
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="placeType" value=country ngModel>Country
    </label>
  </div>

  <br>

  <div class="place-input">
    <label>
      Enter Place:
      <input type="text" name="place" placeholder="Ex. Pittsburgh" ngModel>
    </label>
  </div>

  <br>

  <div>
    <ngx-slider name="priceSlider" [(value)]="minValue" [(highValue)]="maxValue" [options]="options" ngModel></ngx-slider>
  </div>

  <br>

  <div class="btn">
    <button>Submit</button>
  </div>
</form>



<p>bottom of input test</p>
