<div class="wrapper">
  <form>
    <div class="form-group">
      <input ngModel name="placeType" #placeType="ngModel" (change)="log(placeType)" id="placeType" type="radio" value=city checked>City
      <input ngModel name="placeType" #placeType="ngModel" (change)="log(placeType)"id="placeType"type="radio" value=country>Country
      <input ngModel name="place" #place="ngModel" (change)="log(place)" id="place"type="text" placeholder="Ex. Pittsburgh">
      <button class="button" type="submit">Submit</button>
    </div>
  </form>
</div>
