.container-fluid {
  position: relative;
  width: 95vmin;
  outline: 5px blue;
  outline-style: solid;
}

.city-container {
  position: relative;
}

.country-container {
  position: relative;
}

.slider-container {
  position: relative;
}
