<div class="wrapper">
  <label>USER INPUT</label>
  <form #inputForm="ngForm" (ngSubmit)="onClickSubmit(inputForm.value)">
    <div class="form-group">
      <input ngModel name="placeType" id="placeType" type="radio" value=city checked>City
      <input ngModel name="placeType" id="placeType" type="radio" value=country>Country
      <input ngModel name="place" id="place" type="text" placeholder="Ex. Pittsburgh">
      <ngx-slider ngModel name="priceSlider" [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="minValChange()" (highValueChange)="maxValChange()"></ngx-slider>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
