.wrapper {
  margin: auto;
  border: 5px solid green;
  position: relative;
  text-align: center;
}
.form-div{
  margin: auto;
  /* border: 5px solid red; */
}
.radio-div{
  margin: auto;
  /* border: 5px solid blue; */
}
.text-input-div{
  margin: auto;
  /* border: 5px solid purple; */
}
.slider-div{
  margin: auto;
  width: 85%;
  /* border: 5px solid orange; */
}
.submit-div{
  margin: auto;
  /* border: 5px solid yellow; */
}

