<div class="wrapper">
  <!-- <label>USER INPUT</label> -->
  <form #inputForm="ngForm" (ngSubmit)="onClickSubmit(inputForm.value)">
    <div class="form-div">
      <div class="radio-div">
        <input ngModel name="placeType" id="placeType" type="radio" value=city checked>City
        <input ngModel name="placeType" id="placeType" type="radio" value=country>Country
      </div>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Place Input Field</mat-label>
        <div class="text-input-div">
          <input ngModel matInput name="place" id="place" type="text" placeholder="Ex. Pittsburgh">
        </div>
      </mat-form-field>

      <br>
      <div class="slider-div">
        <ngx-slider ngModel name="priceSlider" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
          (valueChange)="minValChange()" (highValueChange)="maxValChange()"></ngx-slider>
      </div>
      <br>
      <div class="submit-div">
        <input mat-raised-button type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
