.wrapper{
  margin: auto;
  text-align: center;
  margin-top: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.text-div{
  margin: auto;
}
.dev-label{
  font-size:large;
}
a:link {
  font-size: medium;
  text-decoration: none;
}

